.message {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 200px;
  text-align: center;
}

.message-title {
  font-size: 5rem;
  color: #888;
}

.message-sub {
  font-size: 3rem;
  color: #888;
  margin-top: 10px;
}
