#projects {
  width: 100%;
  background-color: #525474;
  padding: 80px 0;
}

.projects-car {
  padding: 50px;
  background-color: #eee;
}

.projects-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.projects-header {
  font-size: 5rem;
  font-weight: 500;
  font-weight: bold;
  color: #dfdeef;
  margin-bottom: 20px;
  text-align: center;
}

.projects-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-list {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(233, 233, 233, 0.3);
  border-radius: 4px;
}

.projects-item {
  font-size: 100% !important;
}

.projects-item .timeline.container.alt-evts::after {
  background-color: #340631 !important;
}

.projects-item .date {
  font-size: 1.6rem !important;
  background-color: #340631 !important;
}

.projects-item .markdown {
  font-size: 2.2rem !important;
  font-weight: bold;
}

.projects-item .marker-col.alt-evts .marker {
  border: 4px solid #340631 !important;
}

.projects-item-container .card {
  border: none;
  border-radius: none !important;
}

.projects-item .card.alt-evts > img {
  border: 2px solid #525474;
}

.item-togle-btn {
  font-size: 1.4rem;
  color: #eee;
  font-weight: bold;
  margin: 12px 0;
  border: none;
  padding: 8px 16px !important;
  background-color: #3f2d4d !important;
  border-radius: 4px !important;
}

.item-togle-btn:hover {
  cursor: pointer;
}

.item-collapse {
  border: 1px solid rgb(206, 206, 206);
}

.item-collapse-body {
  text-align: left;
  font-size: 1.6rem;
}

.collapse-body-list {
  list-style: none;
  padding: 10px 0 0 0;
}

.collapse-body-list-item {
  margin: 4px 0px;
}

.collapse-body-img {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(212, 212, 212);
}

.projects-item-footer {
  display: flex;
  justify-content: space-between;
}

.projects-item-footer .url-button {
  display: block !important;
  color: #eee;
  font-weight: bold;
  margin: 10px 0 0 0 !important;
  padding: 8px 16px !important;
  background-color: #3f2d4d !important;
}
