#contact {
  width: 100%;
  background-color: #c67d23;
  padding: 80px 0;
}

.contact-car {
  padding: 50px;
  background-color: white;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
}

.contact-header {
  font-size: 5rem;
  font-weight: 500;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.contact-body {
  background-color: rgba(255,255,255,0.3);
  margin-bottom: 30px;
  border-radius: 4px;
}

.contact-body-list {
  display: flex;
  padding: 40px 0px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-body-item {
  margin: 10px 10px;
}

.contact-body-item a {
  text-decoration: none !important;
}

.contact-btn {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 180px;
  font-size: 2rem;
  border-radius: 4px;
}

.contact-btn-icon {
  margin-right: 8px;
}
